            body {
                font-family: Calibri;
                background-color: #74acbf; }
            h1 {
                color: #D3D3D3;
                background-color: #111184; 
                padding: 1.5rem;
            }
            h2 {
                color: #D3D3D3;
                background-color:#111184;
                padding: 1.5rem;
            }
            p {
                margin: 1.5rem;
            }
            img {
                float: left;
                border: 2px #74acbf solid;
                margin: .65rem;
                max-width: 90%;
            }